oith-main {
  display: grid;
  width: 100vw;
  height: 100%;
  grid-template-rows: 48px auto;
  position: absolute;
  oith-header {
    background-color: #000000;
  }
  oith-body {
    background-color: aquamarine;
  }
}
