<format-group
  class="{{ this.cls }}"
  [attr.nodeName]="this.formatGroup.cls ? this.formatGroup.cls.join(' ') : ''"
>
  <ng-container *ngIf="this.formatGroup">
    <ng-container *ngIf="this.formatGroup.grps">
      <ng-container *ngFor="let grp of this.formatGroup.grps">
        <!-- <ng-container *ngIf="grp.attrs">{{ grp.attrs }}</ng-container> -->

        <app-format-group [formatGroup]="grp"></app-format-group>
      </ng-container>
    </ng-container>
  </ng-container>
  <ng-container *ngIf="this.formatGroup.txt">
    <ng-container *ngFor="let txt of this.formatGroup.txt">
      <app-format-text [formatText]="txt"></app-format-text>
    </ng-container>
  </ng-container>
  <ng-container *ngIf="this.formatGroup.verses">
    <ng-container *ngFor="let verse of formatGroup.verses">
      <oith-verse [id]="verse.id"
        >{{ verse.text }}
        <ng-container
          *ngIf="verse.formatGroups && verse.formatGroups.length !== undefined"
        >
          <ng-container *ngFor="let grp of verse.formatGroups">
            <app-format-group [formatGroup]="grp"></app-format-group>
          </ng-container>
        </ng-container>
        <ng-container
          *ngIf="verse.formatGroups && verse.formatGroups.length === undefined"
        >
          <app-format-group
            [formatGroup]="verse.formatGroups"
          ></app-format-group>
        </ng-container>
      </oith-verse>
    </ng-container>
  </ng-container>
</format-group>
