/* You can add global styles to this file, and also import other style files */
@import "./normalize.scss";
@import "./app/styles/notes.scss";
@import "./default-styles.scss";
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  line-height: 1;
  font-size: 18px;
}

format-group {
  font-family: serif;
  line-height: 1.5;
  &[nodename="span"],
  &[nodename="SPAN"] {
    display: inline;
  }
  &[nodename="br"] {
    display: block;
  }
  &[nodename="HEADER"] {
    // [id*="title1"] {
    // text-align: center;
    // font-weight: 700;
    // text-align: center;
    // display: block !important;
    // margin-bottom: 9pt;
    // font-weight: 700 !important;
    // font-size: 24px;
    // margin-bottom: 9pt;
    // }
    [id*="title_number"] {
      font-size: 1.1em;
      padding-bottom: 0.5em;
      padding-top: 0;
      text-align: center;
      letter-spacing: 0.1em;
    }
  }
}

ruby {
  rt {
    // display: block;
    // font-size: 50%;
    // text-align: start;
  }
}
[id*="come-follow-me"] {
  text-align: left;
  header {
    text-align: inherit !important;
  }
  [id*="title_number"] {
    text-align: inherit !important;
  }
  #title1 {
    text-align: left;
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
  }
  h1,
  [nodename*="h1"] {
    line-height: 1.2;
    font-size: 2.333em !important;
    & + .title-number {
      margin-top: 0.125em;
    }
  }
  [nodename*="h3"],
  h3 {
    font-weight: 700;
    font-style: normal;
    font-size: 1.111em;
    line-height: 1.2;
    display: block;
    font-stretch: normal;
  }
  [nodename*="h4"],
  h4 {
    font-size: 1em;
    line-height: 1.2;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    display: block;
  }
  [id*="summary"],
  [id*="intro"],
  [id*="study-summary"],
  [id*="study-intro"],
  .kicker + .kicker,
  .epigraph + .epigraph,
  .kicker + .epigraph,
  .epigraph + .kicker {
    font-family: McKayldsLat-Italic, "McKay ldsLat", McKay, Palatino-Italic,
      "Palatino Italic", Palatino, serif;
    font-weight: 400;
    font-style: italic;
    font-stretch: normal;
  }
  #subtitle1 {
    font-family: ZoramldsLat-Regular, "Zoram ldsLat", Zoram, Arial, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    font-size: 0.722em;
    line-height: 1.2;
    margin-bottom: 0;
    text-align: inherit;
  }
  #title_number1,
  [id*="scripture_title"] {
    font-size: 0.778em;
    line-height: 1.2;
    color: #d45311;
    margin-bottom: 0;
  }
  p {
    line-height: 1.6;
    vertical-align: baseline;

    margin-bottom: 0.889em;
  }

  section {
    header {
      margin-top: 32px;
    }
  }
  html,
  body,
  span,
  applet,
  object,
  iframe,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  blockquote,
  pre,
  a,
  abbr,
  acronym,
  address,
  big,
  cite,
  code,
  del,
  dfn,
  em,
  img,
  ins,
  kbd,
  q,
  s,
  samp,
  small,
  strike,
  strong,
  sub,
  sup,
  tt,
  var,
  b,
  u,
  i,
  center,
  dl,
  dt,
  dd,
  ol,
  ul,
  li,
  fieldset,
  form,
  label,
  legend,
  table,
  caption,
  tbody,
  tfoot,
  thead,
  tr,
  th,
  td,
  article,
  aside,
  canvas,
  details,
  embed,
  figure,
  figcaption,
  footer,
  header,
  hgroup,
  menu,
  nav,
  output,
  ruby,
  section,
  summary,
  time,
  mark,
  audio,
  video {
    // margin: 0;
    // padding: 0;
    // border: 0;
    // font-size: 100%;
    font: inherit;
  }
  [id*="scripture_title"] {
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
  }
}
